header{
    background-color: var(--azul);
    color: var(--cor-de-fundo);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.6rem 3rem;

    font-family: var(--fonte-righteous);
    font-size: 20px;

}

header img{
    width: 16rem;
    height: auto;
}

header nav{
    display: flex;
    gap: 5rem;
}
