header{
    background-color: var(--azul);
    color: var(--cor-de-fundo);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.4rem 3rem;

    font-family: var(--fonte-righteous);
    font-size: 18px;

}

header img{
    width: 16rem;
    height: auto;
}

header nav{
    display: flex;
    gap: 5rem;
}

@media screen and (max-width: 550px) {
    header{
        flex-direction: column;
        padding: 0.5rem 0rem 0.8rem 0rem;
        font-size: 14px;
        gap: 1rem;
    }

    header img{
        width: 50%;
    }

    header nav{
        gap: 1.5rem;
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    header{
        padding: 0.8rem 1rem 0.8rem 0.5rem;
        font-size: 16px;
        gap: 0.5rem;
    }

    header img{
        width: 12rem;
    }

    header nav{
        display: flex;
        gap: 0.8rem 1rem;
        flex-wrap: wrap;
        justify-content: end;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    header{
        padding: 0.5rem 1rem;
    }

    header img{
        width: 14rem;
    }

    header nav{
        gap: 2rem;
    }

}


