.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.contato_conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
}

.contato_informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    gap: 3rem;
}

.contato_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
}

.contato_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: var(--fonte-montserrat);
    gap: 0.5rem;
}

.contato img{
    width: 2rem;
    height: auto;
}

.contato p{
    margin-top: 0.3rem;
}

.contato_links a{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    background-color: var(--verde);
    padding: 0.8rem 1rem;
    border-radius: 10px;
    color: var(--cor-de-fundo);
    font-family: var(--fonte-montserrat);
    font-weight: bolder;
    width: 10rem;
}

.contato_btn:hover{
    transform: scale(1.1);
}

.contato_links{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.contato_div_formulario{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: var(--roxo);
    padding: 2rem;
    border-radius: 10px;
    gap: 0.5rem;
}

.contato button{
    margin: 2rem auto 0rem auto;
    background-color: var(--cor-de-fundo);
    padding: 0.8rem 1.5rem;
    border-style: none;
    border-radius: 10px;
}

.contato input, .contato textarea{
    width: 100%;
    background-color: var(--cor-de-fundo);
    color: var(--roxo);
    font-family: var(--fonte-montserrat);
    font-size: 16px!important;
    font-weight: 400;
    border-style: none;
    padding: 1rem 0.5rem;
    border-radius: 10px;
}




