/*FORMACAO EDUCACIONAL E CERTIFICADOS -------------------------------------------------*/

.formacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.formacao_conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.formacao_e_certificados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    gap: 3rem;
}

.formacao_educacional{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.formacao_topico_de_informacao{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
}

.formacao_topico_de_informacao img{
    width: 1.8rem;
    height: auto;
}

.formacao_topico_titulo{
    display: flex;
    align-items: start;
    margin: 0.2rem;
}

.formacao_topico_texto{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 0.4rem;
}

.formacao_topico_de_informacao .div1{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 0.5rem;
}

@media screen and (max-width: 1100px) {
    .formacao_conteudo{
        flex-direction: column;
        gap: 2rem;
    }
    .formacao_e_certificados{
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    .formacao_educacional{
        align-items: center;
    }

    .certificados{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .formacao_topico_de_informacao img{
        width: 1.3rem;
        margin-top: 0.2em;
    }

    .formacao_topico_de_informacao{
        align-items: start;
        width: 80%;
        padding: 0rem;
        gap: 1rem;
    }

    .formacao_topico_de_informacao .div2{
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 0.2rem;
    }

    .formacao p, .formacao a{
        margin-left: 0.2rem;
    }
}

/*IDIOMAS -----------------------------------------------------------------------------*/

.idioma_conhecimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.idiomas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.topico_idioma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid var(--roxo);
    width: 15rem;
    height: 6rem;
    padding: 0rem 1rem;
}

.topico_idioma img{
    width: 2.5rem;
    height: auto;
}

.topico_idioma:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
    .idiomas{
        flex-wrap: wrap;
    }
}

/* CONHECIMENTOS BACK END E FRONT END -------------------------------------------------*/

.conhecimentos{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
}

.conhecimentos_item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 30rem;
    gap: 0.3rem;
}

.conhecimentos_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.conhecimento_texto{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.conhecimento_texto h4{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 0.4rem;
    font-weight: 300; 
}

.conhecimentos_item img{
    width: 2rem;
    height: auto;
}

.conhecimentos_conteudo{
    margin-left: 2.6rem;
}




