.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.experiencia{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.experiencia img{
    width: 2.2rem;
    height: auto;
}

.experiencia_topico h3{
    font-family: var(--fonte-montserrat);
}

.experiencia_topico h4{
    font-family: var(--fonte-montserrat);
    font-weight: 300;
}

.experiencia_topico{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 35rem;
    gap: 1rem;
}

.experiencia_topico_conteudo{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.experiencia_topico_conteudo_item h3{
    font-size: 18px;
    font-weight: 300;
}

.experiencia_topico_conteudo_item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 1rem;
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

.projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    gap: 2rem;
}

.projetos img{
    width: 30rem;
}

.projeto_conteudo{
    display: flex;
    justify-content: center;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.projeto h3{
    font-family: var(--fonte-lekton);
}

.projeto p{
    font-size: 16px;
    font-family: var(--fonte-montserrat);
}

.projeto_ferramentas{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem 3rem;
}

.projeto_links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
}

.projeto_azul_link{
    background-color: var(--azul);
}

.projeto_roxo_link{
    background-color: var(--roxo);
}

.projeto_links a{
    padding: 0.8rem 1rem;
    border-radius: 15px;
    color: var(--cor-de-fundo);
    font-family: var(--fonte-montserrat);
    font-weight: bolder;
}