.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.experiencia{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.experiencia img{
    width: 2.2rem;
    height: auto;
}

.experiencia_topico h3{
    font-family: var(--fonte-montserrat);
}

.experiencia_topico h4{
    font-family: var(--fonte-montserrat);
    font-weight: 300;
}

.experiencia_topico{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 35rem;
    gap: 1rem;
}

.experiencia_topico_conteudo{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.experiencia_topico_conteudo_item h3{
    font-size: 18px;
    font-weight: 300;
}

.experiencia_topico_conteudo_item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 1rem;
}












