/*EXPERIENCIA ---------------------------------------------------*/
.portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.experiencia{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.experiencia img{
    width: 2.2rem;
    height: auto;
}



.experiencia_topico{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 35rem;
    gap: 1rem;
}

.experiencia_topico_conteudo{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.experiencia_topico_conteudo_item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (max-width: 1200px) {
    .experiencia{
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        width: 80%;
    }

    .experiencia img{
        width: 1.8rem;
    }

    .experiencia_topico{
        width: 100%;
    }

    .experiencia_topico_conteudo{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 0.5rem;
    }

    .experiencia_topico_conteudo_item h3{
        font-size: 18px;
        font-weight: 300;
    }

    .experiencia_topico_conteudo_item{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        gap: 1rem;
    }
}

/*PROJETOS ---------------------------------------------------*/
.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}

.projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    gap: 2rem;
}

.projetos img{
    width: 30rem;
}

.projeto_conteudo{
    display: flex;
    justify-content: center;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.projeto_ferramentas{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem 3rem;
}

.projeto_links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
}

.projeto_azul_link{
    background-color: var(--azul);
}

.projeto_roxo_link{
    background-color: var(--roxo);
}

.projeto_links a{
    padding: 0.8rem 2rem;
    border-radius: 15px;
    color: var(--cor-de-fundo);
    font-family: var(--fonte-montserrat);
    font-weight: bolder;
    text-wrap:inherit
}


@media screen and (max-width:1000px) {
    .projetos{
        gap: 4rem;
    }

    .projeto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        gap: 2rem;
    }

    .projetos img{
        width: 30rem;
    }

    .projeto_conteudo{
        display: flex;
        justify-content: center;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .projeto_ferramentas{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem 3rem;
    }

    .projeto_links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        padding-top: 1rem;
    }

    .projeto_azul_link{
        background-color: var(--azul);
    }

    .projeto_roxo_link{
        background-color: var(--roxo);
    }

    .projeto_links a{
        padding: 0.8rem 2rem;
        border-radius: 15px;
        color: var(--cor-de-fundo);
        font-family: var(--fonte-montserrat);
        font-weight: bolder;
        text-wrap:inherit
    }
}