footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;
    background-color: var(--azul);
    margin-top: 5rem;
    font-weight: bold;
    gap: 0.5rem;
} 


footer img{
    width: 20rem;
    height: auto;
    margin-top: 2rem;
}