.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0rem 0rem 0rem;
}

.apresentacao img{
    width: 55rem;
    height: auto;
}

.sobre_mim{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte-montserrat);
    width: 100%;
}

.sobre_mim_texto{
    width: 35rem;
    text-align: center;
    padding: 4rem 0rem;
}

.sobre_mim_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0rem 5rem;
}

.sobre_mim_info h1{
    font-family: var(--fonte-lexend);
    font-size: 24px;
    font-weight: bold;
}

.informacoes_e_habilidades h1, .habilidades_interpessoais h1{
    color: var(--verde);
    padding: 2rem 0rem 2rem 0rem;
    width: 100%;
    text-align: center;
}

.informacoes_e_habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.informacoes_pessoais{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.informacoes_pessoais img{
    width: 1.6rem;
    height: auto;
}

.sobre_mim_topico_de_informacao{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    gap: 0.5rem;
}

.sobre_mim_topico_titulo{
    font-family: var(--fonte-silkscreen);
    font-weight: 300;
    font-size: 20px;
    color: var(--verde)
}

.habilidades_interpessoais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.caixas_de_habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.caixa_de_habilidade{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid var(--verde);
    font-family: var(--fonte-silkscreen);
    font-size: 18px;
}

.caixa_de_habilidade:hover{
    transform: scale(1.1);
}

.caixa_de_habilidade img{
    width: 2.5rem;
    padding-left: 1rem;
}

.hobbies_e_interesses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.hobbies_e_interesses h1{
    padding: 2rem 0rem 2rem 0rem;
    width: 100%;
    text-align: center;
    color: var(--roxo);
}

.caixas_de_hobbies{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.caixa_de_hobbies{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid var(--roxo);
    font-family: var(--fonte-silkscreen);
    font-size: 18px;
}

.caixa_de_hobbies:hover{
    transform: scale(1.1);
}

.caixa_de_hobbies img{
    width: 3.5rem;
    height: auto;
    padding-left: 1rem;
}