/* Link das Fontes utilizadas no site (Silkscreen, Righteous, Montserrat, Lexend e Lekton)*/
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Silkscreen:wght@400;700&display=swap');
/* Importanto outros arquivos css */
@import url('/css/cabecalho.css');
@import url('/css/sobre_mim.css');
@import url('/css/formacao.css');
@import url('/css/portfolio.css');

:root{
    /* cores */
    --cor-de-fundo: #06070C;
    --azul: #72AFFF;
    --roxo: #CCA7FF;
    --verde: #B9FFFF;

    /* fontes */
    --fonte-silkscreen: "Silkscreen", sans-serif;
    --fonte-righteous: "Righteous", sans-serif;
    --fonte-montserrat: "Montserrat", sans-serif;
    --fonte-lexend: "Lexend", sans-serif;
    --fonte-lekton: "Lekton", monospace;
}

body{
    background-color: var(--cor-de-fundo);
    color: white;
    font-size: 18px;
}

img{
    width: 3rem;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit; /* Preserva a cor do elemento pai */
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

a:hover{
    transform: scale(1.1);
}

.titulo{
    font-size: 36px;
    font-family: var(--fonte-silkscreen);
    color: var(--azul);
    font-weight: 500;
    text-align: center;
}

.subtitulo{
    padding: 2rem 0rem 1rem 0rem;
    width: 100%;
    text-align: center;
    font-family: var(--fonte-lexend);
    font-size: 24px;
    font-weight: bold;
}

.texto_quadriculado_grande{
    font-family: var(--fonte-silkscreen);
    font-weight: 400;
    font-size: 20px;
}

.texto_quadriculado_medio{
    font-family: var(--fonte-silkscreen);
    font-weight: 400;
    font-size: 18px;
}

.texto_verde{
    color: var(--verde);
}

.texto_roxo{
    color: var(--roxo);
}

.texto_azul{
    color: var(--azul);
}

main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

h1,h2,h3,h4,h5,p{
    margin: 0rem;
    padding: 0rem;
}